NET "button<0>" LOC = P8 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<1>" LOC = P10 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<2>" LOC = P12 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<3>" LOC = P15 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<4>" LOC = P17 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<5>" LOC = P22 | IOSTANDARD = LVTTL | PULLDOWN;
NET "game_button<0>" LOC = P2 | IOSTANDARD = LVTTL | PULLDOWN;
NET "game_button<1>" LOC = P6 | IOSTANDARD = LVTTL | PULLDOWN;

NET "col_led<0>"  LOC = P120 | IOSTANDARD = LVTTL;
NET "col_led<1>"  LOC = P118 | IOSTANDARD = LVTTL;
NET "col_led<2>"  LOC = P116 | IOSTANDARD = LVTTL;
NET "col_led<3>"  LOC = P114 | IOSTANDARD = LVTTL;
NET "col_led<4>"  LOC = P111 | IOSTANDARD = LVTTL;
NET "col_led<5>"  LOC = P104 | IOSTANDARD = LVTTL;
NET "col_led<6>"  LOC = P101 | IOSTANDARD = LVTTL;
NET "col_led<7>"  LOC = P99 | IOSTANDARD = LVTTL;
NET "col_led<8>"  LOC = P97 | IOSTANDARD = LVTTL;
NET "col_led<9>"  LOC = P94 | IOSTANDARD = LVTTL;
NET "col_led<10>"  LOC = P92 | IOSTANDARD = LVTTL;
NET "col_led<11>"  LOC = P87 | IOSTANDARD = LVTTL;
NET "col_led<12>"  LOC = P84 | IOSTANDARD = LVTTL;
NET "col_led<13>"  LOC = P82 | IOSTANDARD = LVTTL;
NET "col_led<14>"  LOC = P80 | IOSTANDARD = LVTTL;
NET "col_led<15>"  LOC = P121 | IOSTANDARD = LVTTL;
NET "col_led<16>"  LOC = P119 | IOSTANDARD = LVTTL;
NET "col_led<17>"  LOC = P117 | IOSTANDARD = LVTTL;
NET "col_led<18>"  LOC = P115 | IOSTANDARD = LVTTL;
NET "col_led<19>"  LOC = P112 | IOSTANDARD = LVTTL;
NET "col_led<20>"  LOC = P105 | IOSTANDARD = LVTTL;
NET "col_led<21>"  LOC = P102 | IOSTANDARD = LVTTL;
NET "col_led<22>"  LOC = P100 | IOSTANDARD = LVTTL;
NET "col_led<23>"  LOC = P98 | IOSTANDARD = LVTTL;
NET "col_led<24>"  LOC = P95 | IOSTANDARD = LVTTL;

NET "layer_gnd<0>"  LOC = P93 | IOSTANDARD = LVTTL;
NET "layer_gnd<1>"  LOC = P88 | IOSTANDARD = LVTTL;
NET "layer_gnd<2>"  LOC = P85 | IOSTANDARD = LVTTL;
NET "layer_gnd<3>"  LOC = P83 | IOSTANDARD = LVTTL;
NET "layer_gnd<4>"  LOC = P81 | IOSTANDARD = LVTTL;