NET "button[0]" LOC = P8;
NET "button[0]" IOSTANDARD = LVTTL;
NET "button[0]" PULLDOWN;
NET "button[1]" LOC = P10;
NET "button[1]" IOSTANDARD = LVTTL;
NET "button[1]" PULLDOWN;
NET "button[2]" LOC = P12;
NET "button[2]" IOSTANDARD = LVTTL;
NET "button[2]" PULLDOWN;
NET "button[3]" LOC = P15;
NET "button[3]" IOSTANDARD = LVTTL;
NET "button[3]" PULLDOWN;
NET "button[4]" LOC = P17;
NET "button[4]" IOSTANDARD = LVTTL;
NET "button[4]" PULLDOWN;
NET "button[5]" LOC = P22;
NET "button[5]" IOSTANDARD = LVTTL;
NET "button[5]" PULLDOWN;
NET "game_button[0]" LOC = P2;
NET "game_button[0]" IOSTANDARD = LVTTL;
NET "game_button[0]" PULLDOWN;
NET "game_button[1]" LOC = P6;
NET "game_button[1]" IOSTANDARD = LVTTL;
NET "game_button[1]" PULLDOWN;

NET "col_led[0]" LOC = P120;
NET "col_led[0]" IOSTANDARD = LVTTL;
NET "col_led[1]" LOC = P118;
NET "col_led[1]" IOSTANDARD = LVTTL;
NET "col_led[2]" LOC = P116;
NET "col_led[2]" IOSTANDARD = LVTTL;
NET "col_led[3]" LOC = P114;
NET "col_led[3]" IOSTANDARD = LVTTL;
NET "col_led[4]" LOC = P111;
NET "col_led[4]" IOSTANDARD = LVTTL;
NET "col_led[5]" LOC = P104;
NET "col_led[5]" IOSTANDARD = LVTTL;
NET "col_led[6]" LOC = P101;
NET "col_led[6]" IOSTANDARD = LVTTL;
NET "col_led[7]" LOC = P99;
NET "col_led[7]" IOSTANDARD = LVTTL;
NET "col_led[8]" LOC = P97;
NET "col_led[8]" IOSTANDARD = LVTTL;
NET "col_led[9]" LOC = P94;
NET "col_led[9]" IOSTANDARD = LVTTL;
NET "col_led[10]" LOC = P92;
NET "col_led[10]" IOSTANDARD = LVTTL;
NET "col_led[11]" LOC = P87;
NET "col_led[11]" IOSTANDARD = LVTTL;
NET "col_led[12]" LOC = P84;
NET "col_led[12]" IOSTANDARD = LVTTL;
NET "col_led[13]" LOC = P82;
NET "col_led[13]" IOSTANDARD = LVTTL;
NET "col_led[14]" LOC = P80;
NET "col_led[14]" IOSTANDARD = LVTTL;
NET "col_led[15]" LOC = P121;
NET "col_led[15]" IOSTANDARD = LVTTL;
NET "col_led[16]" LOC = P119;
NET "col_led[16]" IOSTANDARD = LVTTL;
NET "col_led[17]" LOC = P117;
NET "col_led[17]" IOSTANDARD = LVTTL;
NET "col_led[18]" LOC = P115;
NET "col_led[18]" IOSTANDARD = LVTTL;
NET "col_led[19]" LOC = P112;
NET "col_led[19]" IOSTANDARD = LVTTL;
NET "col_led[20]" LOC = P105;
NET "col_led[20]" IOSTANDARD = LVTTL;
NET "col_led[21]" LOC = P102;
NET "col_led[21]" IOSTANDARD = LVTTL;
NET "col_led[22]" LOC = P100;
NET "col_led[22]" IOSTANDARD = LVTTL;
NET "col_led[23]" LOC = P98;
NET "col_led[23]" IOSTANDARD = LVTTL;
NET "col_led[24]" LOC = P95;
NET "col_led[24]" IOSTANDARD = LVTTL;

NET "layer_gnd[0]" LOC = P93;
NET "layer_gnd[0]" IOSTANDARD = LVTTL;
NET "layer_gnd[1]" LOC = P88;
NET "layer_gnd[1]" IOSTANDARD = LVTTL;
NET "layer_gnd[2]" LOC = P85;
NET "layer_gnd[2]" IOSTANDARD = LVTTL;
NET "layer_gnd[3]" LOC = P83;
NET "layer_gnd[3]" IOSTANDARD = LVTTL;
NET "layer_gnd[4]" LOC = P81;
NET "layer_gnd[4]" IOSTANDARD = LVTTL;

| IOSTANDARD = LVTTL;
NET "time_display[0]" LOC = P51;
| IOSTANDARD = LVTTL;
NET "time_display[1]" LOC = P41;
| IOSTANDARD = LVTTL;
NET "time_display[2]" LOC = P35;
| IOSTANDARD = LVTTL;
NET "time_display[3]" LOC = P33;
| IOSTANDARD = LVTTL;
NET "time_display[4]" LOC = P30;
| IOSTANDARD = LVTTL;
NET "time_display[5]" LOC = P27;
| IOSTANDARD = LVTTL;
NET "time_display[6]" LOC = P24;
| IOSTANDARD = LVTTL;
NET "time_display[7]" LOC = P50;
| IOSTANDARD = LVTTL;
NET "time_display[8]" LOC = P40;
| IOSTANDARD = LVTTL;
NET "time_display[9]" LOC = P34;
| IOSTANDARD = LVTTL;
NET "time_display[10]" LOC = P32;
| IOSTANDARD = LVTTL;
NET "time_display[11]" LOC = P29;
| IOSTANDARD = LVTTL;
NET "time_display[12]" LOC = P26;
| IOSTANDARD = LVTTL;
NET "time_display[13]" LOC = P23;

| IOSTANDARD = LVTTL;
NET "score_display[0]" LOC = P21;
| IOSTANDARD = LVTTL;
NET "score_display[1]" LOC = P16;
| IOSTANDARD = LVTTL;
NET "score_display[2]" LOC = P14;
| IOSTANDARD = LVTTL;
NET "score_display[3]" LOC = P11;
| IOSTANDARD = LVTTL;
NET "score_display[4]" LOC = P9;
| IOSTANDARD = LVTTL;
NET "score_display[5]" LOC = P7;
| IOSTANDARD = LVTTL;
NET "score_display[6]" LOC = P5;
| IOSTANDARD = LVTTL;
NET "score_display[7]" LOC = P1;
| IOSTANDARD = LVTTL;
NET "score_display[8]" LOC = P58;
| IOSTANDARD = LVTTL;
NET "score_display[9]" LOC = P67;
| IOSTANDARD = LVTTL;
NET "score_display[10]" LOC = P124;
| IOSTANDARD = LVTTL;
NET "score_display[11]" LOC = P57;
| IOSTANDARD = LVTTL;
NET "score_display[12]" LOC = P66;
| IOSTANDARD = LVTTL;
NET "score_display[13]" LOC = P123;
