NET "x_button[0]" LOC = P15;
NET "x_button[0]" IOSTANDARD = LVTTL;
NET "x_button[0]" PULLDOWN;
NET "x_button[1]" LOC = P12;
NET "x_button[1]" IOSTANDARD = LVTTL;
NET "x_button[1]" PULLDOWN;
NET "y_button[0]" LOC = P10;
NET "y_button[0]" IOSTANDARD = LVTTL;
NET "y_button[0]" PULLDOWN;
NET "y_button[1]" LOC = P8;
NET "y_button[1]" IOSTANDARD = LVTTL;
NET "y_button[1]" PULLDOWN;
NET "z_button[0]" LOC = P6;
NET "z_button[0]" IOSTANDARD = LVTTL;
NET "z_button[0]" PULLDOWN;
NET "z_button[1]" LOC = P2;
NET "z_button[1]" IOSTANDARD = LVTTL;
NET "z_button[1]" PULLDOWN;
NET "game_button[0]" LOC = P22;
NET "game_button[0]" IOSTANDARD = LVTTL;
NET "game_button[0]" PULLDOWN;
NET "game_button[1]" LOC = P17;
NET "game_button[1]" IOSTANDARD = LVTTL;
NET "game_button[1]" PULLDOWN;

NET "col_led[0]" LOC = P80;
NET "col_led[0]" IOSTANDARD = LVTTL;
NET "col_led[1]" LOC = P82;
NET "col_led[1]" IOSTANDARD = LVTTL;
NET "col_led[2]" LOC = P84;
NET "col_led[2]" IOSTANDARD = LVTTL;
NET "col_led[3]" LOC = P87;
NET "col_led[3]" IOSTANDARD = LVTTL;
NET "col_led[4]" LOC = P92;
NET "col_led[4]" IOSTANDARD = LVTTL;
NET "col_led[5]" LOC = P94;
NET "col_led[5]" IOSTANDARD = LVTTL;
NET "col_led[6]" LOC = P97;
NET "col_led[6]" IOSTANDARD = LVTTL;
NET "col_led[7]" LOC = P99;
NET "col_led[7]" IOSTANDARD = LVTTL;
NET "col_led[8]" LOC = P101;
NET "col_led[8]" IOSTANDARD = LVTTL;
NET "col_led[9]" LOC = P104;
NET "col_led[9]" IOSTANDARD = LVTTL;
NET "col_led[10]" LOC = P111;
NET "col_led[10]" IOSTANDARD = LVTTL;
NET "col_led[11]" LOC = P114;
NET "col_led[11]" IOSTANDARD = LVTTL;
NET "col_led[12]" LOC = P116;
NET "col_led[12]" IOSTANDARD = LVTTL;
NET "col_led[13]" LOC = P118;
NET "col_led[13]" IOSTANDARD = LVTTL;
NET "col_led[14]" LOC = P120;
NET "col_led[14]" IOSTANDARD = LVTTL;
NET "col_led[15]" LOC = P95;
NET "col_led[15]" IOSTANDARD = LVTTL;
NET "col_led[16]" LOC = P98;
NET "col_led[16]" IOSTANDARD = LVTTL;
NET "col_led[17]" LOC = P100;
NET "col_led[17]" IOSTANDARD = LVTTL;
NET "col_led[18]" LOC = P102;
NET "col_led[18]" IOSTANDARD = LVTTL;
NET "col_led[19]" LOC = P105;
NET "col_led[19]" IOSTANDARD = LVTTL;
NET "col_led[20]" LOC = P112;
NET "col_led[20]" IOSTANDARD = LVTTL;
NET "col_led[21]" LOC = P115;
NET "col_led[21]" IOSTANDARD = LVTTL;
NET "col_led[22]" LOC = P117;
NET "col_led[22]" IOSTANDARD = LVTTL;
NET "col_led[23]" LOC = P119;
NET "col_led[23]" IOSTANDARD = LVTTL;
NET "col_led[24]" LOC = P121;
NET "col_led[24]" IOSTANDARD = LVTTL;

NET "layer_gnd[0]" LOC = P11;
NET "layer_gnd[0]" IOSTANDARD = LVTTL;
NET "layer_gnd[1]" LOC = P9;
NET "layer_gnd[1]" IOSTANDARD = LVTTL;
NET "layer_gnd[2]" LOC = P7;
NET "layer_gnd[2]" IOSTANDARD = LVTTL;
NET "layer_gnd[3]" LOC = P5;
NET "layer_gnd[3]" IOSTANDARD = LVTTL;
NET "layer_gnd[4]" LOC = P1;
NET "layer_gnd[4]" IOSTANDARD = LVTTL;
